@{ 
    Layout = null;
}
<div class="text-center" >
    <h3 class="text-danger">Access Denied</h3>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="~/images/accessdenied.jpg" alt="access denied" style="height:300px; width:500px; "  />

</div>