
@{
    Layout = "~/Views/Shared/_FontendLayout.cshtml";
}
    <section class="breadcum" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>About</h4>
                    <div class="pages">
                        <a asp-action="Index" asp-controller="HomeAts">Home</a>
                        <span>&#47;</span>
                     
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- End Breadcum section -->

<section class="out_mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-section">
                    <h2>About</h2>
                    
                </div>
                <p class="mission-description">
                    The Apostolic Training School is the discipleship-training program of The Latter Rain Assembly.
                    The training program shares the heart of God; His message of Salvation and His principles. 
                    It also expounds upon our passion as a church, which says ‘You can win by righteousness’. 
                    ATS is developed within the context of a modern Biblical training program to respond to contemporary needs of saints and seekers. 
                    It is designed to:
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="~/img/atslogo.jpg" alt=""/>
            </div>
            <div class="col-lg-6">
                <div class="content-left">
                    <h4>Apostolic Training School</h4>
                    <p class="mission-description">
                        ATS is developed within the context of a modern Biblical training program to respond to contemporary needs of saints and seekers.
                        It is designed to:
                    </p>
                    <ul class="content-list">
                        <li>Turn seekers to saints.</li>
                        <li>Ensure that saints mature and become ministers.</li>
                        <li>Enable members understand the need for commitment to a local assembly.</li>
                        <li>Promote active participation of all members for the expansion of the kingdom.</li>
                        <li>Progressively move members from the level of information to transformation.</li>
                        <li>Wipe out Biblical Illiteracy.</li>
                        <li>Promote the principles of AUTHENTIC BIBLICAL CHRISTIANITY AND APOSTOLIC CHRISTIANITY TODAY.</li>
                        <!-- <li>Aenean sollicitudin, lorem quis bibendum aucto</li> -->
                    </ul>
                 
                    <span>Enroll today and learn something new.</span>
                </div>
            </div>
        </div>
    </div>
</section>





