@{
    Layout = "~/Views/Shared/_FontendLayout.cshtml";

}

    <div class="hero-wrap" style="background-image: url('img/onyeijemedia/sea1.jpg');" data-stellar-background-ratio="0.5">
        
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-lg-6 col-md-6 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 2.6 }"> WorldClass  <br><span>Igbo ELearning Platform To Launch 2019</span></h1>
                    <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="icon-calendar mr-2"></span>20 December 2019</p>
                    <div id="timer" class="d-flex">
                        <div class="time" id="days"></div>
                        <div class="time pl-3" id="hours"></div>
                        <div class="time pl-3" id="minutes"></div>
                        <div class="time pl-3" id="seconds"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>



