@model List<OnyeijeSchool.Models.Instructor>
@{
     Layout = "~/Views/Shared/_FontendLayout.cshtml";
}
<section class="breadcum">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Instructors</h4>
                <div class="pages">
                    <a asp-action="Index" asp-controller="HomeAts">Home</a>
                    <span>&#47;</span>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- president  Section -->



<!-- Instructors section -->
<section class="Instructors Instructors-page">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="block-content">

                    <img class="img-fluid" src="~/img/profileavater.jpg" alt="" />
                    <div class="content">
                        <div class="content-title">
                            <a href="single-instructors.html">
                                <h4>John Manuel</h4>
                            </a>
                            <span>Senior Pastor</span>
                        </div>
                        <div class="content-text">
                            <p>Loves to reasearch and play basket ball</p>
                            <div class="instructors-media-link">
                                <a data-toggle="tooltip" data-placement="top" title="Go facebook Profile" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go twitter Profile" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Go linkedin Profile" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <nav>
        <ul class="pagination">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </nav> 
        </div>
    </div>
</section>
