@model OnyeijeSchool.Models.Instructor

@{
    ViewData["Title"] = "Edit";
}

<div class="card ">

    <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
    <div class="card-header">
        <h3 class="card-title">
            Edit Lecturer
        </h3>

    </div>
    <div class="wizard-navigation">
        <ul class="nav nav-pills col-md-12">
            <li class="nav-item">
                <a class="nav-link active " data-toggle="tab" role="tab">
                    Change some of the basic information about your Instructors
                </a>
            </li>
        </ul>
    </div>
    <hr />
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane show active">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="InstructorId" />
                    <input type="hidden" asp-for="DateCreated" />
                    <input type="hidden" asp-for="UserCreated" />

                    <div class="form-row">
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="FirstName" class="form-control" id="file" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="SurName" class="form-control" id="file" placeholder="Surname" />
                            <span asp-validation-for="SurName" class="text-danger"></span>
                        </div>
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="OtherNames" class="form-control" id="file" placeholder="Other Names" />
                            <span asp-validation-for="OtherNames" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="InstructorEmail" class="form-control" id="file" placeholder="Email" />
                            <span asp-validation-for="InstructorEmail" class="text-danger"></span>
                        </div>
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="PhoneNumber" class="form-control" id="file" placeholder="Phone Number" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="input-group col-lg-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>

                            <input asp-for="Country" class="form-control" id="file" placeholder="Country" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" id="fileUpload" class="btn btn-primary" />
                    </div>
                </form>
            </div>


        </div>
        <div class="card-footer" style="margin-top:30px">
            <div class="pull-right">
                <a href="@Url.Action("Index", "Instructors")" class="btn btn-rose btn-fill">View List</a>

            </div>
            <div class="pull-left">

            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
@if (ViewBag.Message != null)
{
    <span class="success sweet-alert"> @ViewBag.Message</span>
}
<script>
    $('#fileUpload').click(function (e) {
        if ($('#file').val() === "") {
            sweetAlert("Field Shouldn't Be Empty!!", "Please fill in the required fields", "error");
            //alert("Field Shouldn't Be Empty!!");
            return false;
        }
        if ($('#file').val() !== "") {

            Swal.fire({
                position: 'top-end',
                type: 'success',
                title: 'Data has been saved successfully',
                showConfirmButton: false,
                timer: 1500
            })
            return true;
        }
    });
</script>