
@{
    ViewData["Title"] = "Protected";
}



<div class="row" style="text-align:center">
    <div class="col-lg-10" style="text-align:center">
        <img src="~/Images/UnderConstruction-image.jpg" alt="Under Construction" style="width:40%" />
        <h1>  <strong>We are so sorry. Site is under Construction. Please do come back soon.</strong></h1>
    </div>
  
</div>